/* MOBILE FIRST DESIGN */
/* Small phone */

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif, Arial, Helvetica, sans-serif;
}

body {
  position: relative; /* Set position to relative */
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  /* margin-bottom: 3rem; */
}

.content-container {
  padding-bottom: 2.5rem; /* Add padding to the bottom to accommodate the footer */
}

.header-container {
  text-align: center;
  background-color: yellow;
  margin-bottom: 3rem;
}

.playfair-display-header {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-solution-container,
.canvas-button-container {
  width: 50%;
}

.form-solution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 2rem; */
}
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: rem; */
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.gridInput {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #464f51;
  background-color: #a4d4b4;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: black;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  margin: 0.2rem;
}

#solution-length {
  width: 30%;
  min-width: 100px;
  border: none;
  border-bottom: 2px solid #464f51;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: black;
  font-weight: bold;
  outline: none;
}

.solution-container {
  display: flex;
  min-height: 40px;
  /* flex-direction: column; */
  align-items: center;
  position: relative;
  white-space: pre-wrap;
  /* justify-content: center; */
}

.solution-container span {
  position: relative;
  display: inline-block;
  /* font-size: 40px; */
  /* color: #fff; */
  text-transform: uppercase;
  animation: flip 2s;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.final-solution {
  display: block;
}

.finalSolution:not(:empty) {
  display: inline-block; /* Display solution when content is present */
}

.canvas-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.gridSubmitButton {
  background-color: #3c3c3b;
  border-radius: 40px;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

.gridSubmitButton:hover {
  background-color: white;
  border-radius: 40px;
  color: #3c3c3b;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Set height of footer */
  background-color: blue;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  text-decoration: none; /* Remove underline from anchor text */
}

footer img {
  width: 30px; /* Adjust image size as needed */
}

footer span {
  margin-top: 5px; /* Adjust spacing between image and text */
}

/* IPHONE 12 MAX */
/* @media only screen and (min-width: 390px) {
} */

/* IPAD MINI   INPUT 2*2*/
@media screen and (min-width: 700px) {
  .main-container {
    flex-direction: column;
  }

  .header-container {
    margin-bottom: 5rem;
  }

  .playfair-display-header {
    font-size: 5rem;
    background-color: wheat;
  }

  .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }
}

/* desktop media queries */
@media screen and (min-width: 992px) {
  .main-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .form-solution-container,
  .canvas-button-container {
    width: 50%;
  }
}

/* @media only screen and (min-width: 1024px) {
  .wrapper {
    margin: 0;
    height: 100%;
  }
  .main-container {
    height: 90%;
    flex-direction: column;
  }

  .form-solution-container,
  .canvas-button-container {
    width: 100%;
    margin-bottom: 0px;
  }

  .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }
} */

/* IPAD PRO  INPUT 2*2*/
/* @media screen and (min-width: 1024px) {
  .wrapper {
    margin: 0;
    height: 100%;
  }
  .main-container {
    height: 90%;
    flex-direction: column;
  }

  .form-solution-container,
  .canvas-button-container {
    width: 100%;
    margin-bottom: 0px;
  }

  .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }
} */
/* 
@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0;
  }
  .main-container {
    flex-direction: column;
  }
  .form-solution-container,
  .canvas-button-container {
    width: 100%;
    margin-bottom: 0px;
  }

  .canvas-button-container {
    margin-top: 0;
  }
  .input-container {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
  }

  .header-container {
    margin-top: 0;
  }
  .user-form {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .wrapper {
    margin: 0;
  }
  .main-container {
    flex-direction: column;
  }
  .form-solution-container,
  .canvas-button-container {
    width: 100%;
    margin-bottom: 0px;
  }

  .canvas-button-container {
    margin-top: 0;
  }
  .input-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  .header-container {
    margin-top: 0;
  }
  .user-form {
    margin-bottom: 0;
  }
} */
/* 
@media only screen and (max-width: 1500px) {
  .wrapper {
    display: flex;
  }
  .main-container {
    flex-direction: row;
  }
  .form-solution-container {
  }
} */
/*TO DO
- Add media query for mobile
- Add media query for tablet
- Add media query for desktop
- modify button
- change colours
- styling of footer, center text
- solution styling
*/
/* -------------------------------- */

/*  */
